<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="../images/logo-blanc.png" />
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
    ></script>
    <script type="text/javascript" defer src="/js/main.js"></script>
    <script type="text/javascript" defer src="/js/swipper.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/choose-session.js"></script>
    <script src="/js/activeLink.js" defer></script>
    <style>
   
  </style>
  </head>
  <body class="relative min-h-screen pb-20 overflow-x-hidden">
    <header class="relative">
      <!-- navbar section -->
      <%- include('../components/nav-bar') %>

      <!-- Slider main container -->
      <section class="hidden md:block relative">

        <div class="swiper hidden main-slider h-[60vh] ">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <img
                src="/uploads/<%= film.banner %>"
                alt="photo header"
                class="object-cover w-full h-full"
              />
            </div>
            <div class="swiper-slide">
              <img
                src="/uploads/<%= film.poster %>"
                alt="photo header"
                class="object-cover w-full h-full"
              />
            </div>
          </div>
        </div>

        <div class=" h-full w-[25vw] absolute flex flex-col top-0 z-40 ">
       

        </div>
        <div class=" h-full w-[25vw] absolute flex flex-col top-0  z-40 pl-6">
          <!-- movie detail -->
        <div class="container flex flex-col h-full  w-[40vw] justify-start items-start space-y-6 py-8">
          <!-- movie title -->
          <h1 class="font-arvo text-white font-bold text-4xl">
            <%= film.title %>
          </h1>



          <!-- movie info -->
          <div class="flex items-center space-x-3 text-xs">
            <p class="font-arvo text-white font-bold"><%= film.duration %>min</p>
            <p class="font-arvo text-white font-bold"><%= film.genre %></p>

          </div>

          <div class="container text-nowrap flex flex-col text-xs">
            <p class="font-arvo text-white font-bold">Sortie : <%= new Date(film.release_date).toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) %>
            <p class="font-arvo text-white font-bold">Avec <%= film.casting %> </p>
          </div>

          <div class="container">
            <p class="font-arvo text-white text-xs w-[80%]">
              <%= film.description %>
            </p>
          </div>

        </div>


        </div>

      </section>
      
    </header>

    <!-- return back button -->
    <a href="/reservation" class="fixed z-40 top-11">
      <div class=" w-12 h-10 flex items-center font-bold justify-center hover:scale-x-125 duration-200 text-white bg-blueOne ">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="26" viewBox="0 0 24 24"><path fill="white" d="M16.62 2.99a1.25 1.25 0 0 0-1.77 0L6.54 11.3a.996.996 0 0 0 0 1.41l8.31 8.31c.49.49 1.28.49 1.77 0s.49-1.28 0-1.77L9.38 12l7.25-7.25c.48-.48.48-1.28-.01-1.76"/></svg>
      </div>
    </a>

    <!-- main content -->
    <main class="flex-grow">

      <!-- select days component section -->
      <section class="w-full  flex justify-around py-4 mt-10 px-4">
        <%- include('../components/select-days') %>
      </section>

      <!-- select hours fliter section -->
      <section class="w-full  mt-20">

        <div class="container flex pl-20 space-x-5 items-center justify-start w-full">
          <h1 class="font-arvo text-blueOne font-bold text-2xl">
            <%= cinema.name %>
          </h1>
          <!-- filter -->
          <form action="" class="space-x-3">

            <select name="" id="" class=" border-2 font-arvo outline-none h-8 cursor-pointer border-gray-200 w-20 ">
              <option value="">4K</option>
              <option value="">3D</option>
              <option value="">4DX</option>
            </select>

            <select name="" id="" class=" border-2 font-arvo outline-none h-8 cursor-pointer border-gray-200 w-64">
              <option value="">Choisir un nombre de places</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
            </select>
          </form>
        </div>

      </section>

      <!-- disponibility component section -->
      <section  class="w-full flex py-4 mt-16 px-7">
        <button class="mx-auto md:mx-0" id="disponibility">
          <%- include('../components/session-disponibility') %>
        </button>
      </section>
      
    </main>

    <input type="hidden" id="cinema-id" value="<%= cinema.cinema_id %>">
    <input type="hidden" id="film-id" value="<%= film.movie_id %>">

    
    <!-- footer section -->
     <footer class="mt-40">
       <%- include('../components/footer') %>
     </footer>
  </body>
</html>
