<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/reviewForm.js"></script>
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
</head>
<body class=" min-h-screen relative ">
<!-- Nav Bar -->
<header class=" ">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex flex-col md:flex-col items-center  justify-start w-[85vw]  ml-auto min-h-screen   outline-black pt-64">

 <form action="" method="" id="reviews-form" class="w-[50vw] mx-auto py-8 space-y-16 bg-whiteOne rounded-md relative">
    <h1 class="font-arvo text-blueOne font-bold text-4xl w-full text-center tracking-wide mt-4">Donner votre avis</h1>
    <!-- let reviews section -->
    <div class="flex flex-col px-16 gap-y-5" id="top">
        <div class="container w-full px-4 flex items-center bg-white h-20 rounded-md">
            <p class="text-lg font-arvo font-bold text-blueOne">Fall Guy</p>
        </div>

        <div class="container w-full px-4 flex items-center bg-white h-20 rounded-md">
            <p class="text-lg font-arvo font-bold text-blueOne">Cinephoria Dauphine</p>
        </div>

        <div class="container relative" >
            <button id="notation-button" class="w-full">
                <div class="container w-full px-4 flex items-center justify-between bg-white h-20 rounded-md ">
                    <p class="text-lg font-arvo font-bold text-blueOne" id="final-score" value="">1 sur 5</p>
                    <div class="text-blueOne">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="currentColor" d="M15.794 7.733a.75.75 0 0 1-.026 1.06l-5.25 5.001a.75.75 0 0 1-1.035 0l-5.25-5a.75.75 0 0 1 1.034-1.087l4.734 4.509l4.733-4.51a.75.75 0 0 1 1.06.027"/></svg>
                    </div>
                </div>
            </button>

            <div id="notation-menu" class="absolute top-20  flex-col items-start justify-around  h-fit w-full bg-blueOne z-10 hidden animate-open-menu">
                <button class="px-4 py-2 hover:bg-white duration-100 ease-in-out w-full flex items-center justify-start h-10 valueBtn" value="1">
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                </button>
                <button class="px-4 py-2 hover:bg-white duration-100 ease-in-out w-full flex items-center justify-start h-10 valueBtn" value="2">
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                </button>
                <button class="px-4 py-2 hover:bg-white duration-100 ease-in-out w-full flex items-center justify-start h-10 valueBtn" value="3">
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                </button>
                <button class="px-4 py-2 hover:bg-white duration-100 ease-in-out w-full flex items-center justify-start h-10 valueBtn"value="4">
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                </button>
                <button class="px-4 py-2 hover:bg-white duration-100 ease-in-out w-full flex items-center justify-start h-10 valueBtn " value="5">
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-xl" style="color: #FFD43B;"></i>
                </button>
            </div>
        </div>
       

        <div class="container w-full px-4 flex items-center bg-white h-fit rounded-md">
            <textarea class="text-lg font-arvo font-bold text-blueOne flex-1 outline-none h-80 pt-7 placeholder:text-blueOne" placeholder="Message"></textarea>
        </div>

            <button id="submit-button" type="submit" class="w-36 h-10 mt-4 bg-redOne hover:bg-red-500 hover:scale-95 duration-150 ease-out flex items-center justify-center mx-auto">
                <p class="text-white font-arvo font-bold">NOTER</p>
            </button>
    </div>

    <div class="absolute top-0  animate-open-menu  flex-col items-center justify-around bg-blueOne/75 w-[50vw] h-[100vh] rounded-lg px-10 py-48 hidden" id="submit-form-menu">
        <p class="text-center font-arvo text-white font-bold text-3xl">VOULEZ-VOUS ENVOYER L'AVIS POUR LE FILM "FALL GUY ?"</p>
        <div class="flex items-center justify-center space-x-10">
            <button type="submit" id="submit-form" class="bg-green-500 w-36 h-14 text-white font-arvo font-bold flex items-center justify-center hover:scale-95 duration-200 hover:bg-green-400">
                OUI
            </button>
            <button  id="close-submit-form" class="bg-redOne w-36 h-14 text-white font-arvo font-bold flex items-center justify-center hover:scale-95 duration-200 hover:bg-red-500">
                NON
            </button>
        </div>
    </div>
 </form>

    
</main>

<!-- search movies menu component -->
<%- include('../../components/search-movies-menu') %>

<!-- search theater menu component -->
<%- include('../../components/searchTheaterMenu') %>

<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>



<div id="close-filter-menu" class="hidden"></div>

<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>