<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/movie-listing.js"></script>
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
</head>
<body class=" min-h-screen relative ">
<!-- Nav Bar -->
<header class="relative z-10 ">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex text-blueOne flex-col md:flex-col items-center gap-y-7 justify-center w-[85vw]  ml-auto   md:pt-40 relative" id="main-container ">

     <!-- Search a movie -->
     <a href="#top">
        <button class="container w-fit open-search-movies">
            <div class="flex items-center justify-between cursor-pointer border h-20 w-[40vw] min-w-[300px] bg-whiteOne px-4 pl-16 hover:bg-gradient-to-r from-whiteOne to-blueOne/15 bg-[length:200%_100%] hover:animate-bg-fill-animation whitespace-nowrap">
                <li class="list-none font-arvo text-blueOne">
                    Rechercher un film
                </li>
                <svg xmlns="http://www.w3.org/2000/svg" class="text-blueOne" width="2em" height="2em" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"/>
                </svg>
            </div>
        </button>
    </a>

    <!-- Choose a movie theater -->
    <button class="theater-filter">
        <div class="flex items-center justify-between cursor-pointer border h-20 w-[40vw] min-w-[300px] bg-whiteOne px-4 pl-16 hover:bg-gradient-to-r from-whiteOne to-blueOne/15 bg-[length:200%_100%] hover:animate-bg-fill-animation whitespace-nowrap">
            <li class="list-none font-arvo text-blueOne">
                Choisir un cinéma
            </li>
            <svg xmlns="http://www.w3.org/2000/svg" class="text-blueOne" width="1.9em" height="1.9em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M5.293 9.293a1 1 0 0 1 1.414 0L12 14.586l5.293-5.293a1 1 0 1 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414"/>
            </svg>
        </div>
    </button>

    <!-- Movie Listing Section -->
    <section class="mt-8">
        <%- include('../../components/dashboard/movie-listing') %>
    </section>  
    
    <a href="/dashboard/users/reviews-form">
        <button class="w-36 h-10 font-bold tracking-wide font-arvo text-white bg-redOne mx-auto hover:scale-95 hover:bg-red-500 duration-200 ease-out" id="reviews-button">
            Noter
        </button>
    </a>

    <!-- movies description card -->
    <div class="absolute top-60 w-[80vw] h-[85vh] -left-20 z-50  flex-col items-center justify-between no-blur hidden" id="description-card">
    
        <div class="top-div bg-goldOne relative py-8">

            <div class="absolute top-16 right-24 z-50" >
                <button id="close-description">
                    <i class="fa-solid fa-xmark fa-xl"></i>
                </button>
            </div>
           
            <div class="absolute rounded-xl bg-white w-[85%] h-[80%] left-1/2 gap-y-4 -translate-x-[50%] flex flex-col items-center px-16 py-10">
                 <!-- moives date info -->
                <div class="mx-auto flex flex-col space-y-1 w-fit h-fit">
                    <div class="font-arvo font-bold text-lg text-blueOne text-center tracking-wide">Mardi 7 Mai</div>
                    <p class="font-arvo font-bold text-sm text-blueOne text-center tracking-wide">19:45</p>
                    <p class="font-arvo font-bold text-xs text-blueOne/45 text-center tracking-wide">VF</p>
                </div>

                <!-- movie and times info -->
                <div class="w-full flex items-center justify-between  bg-whiteOne shadow-xl rounded-xl pl-5">

                    <div class="h-full w-fit flex flex-col items-start justify-center space-y-2 py-7">
                        <h1 class="font-bold text-blueOne font-arvo text-2xl tracking-wide ">Blade Runner</h1>
                        <div class="flex items-center space-x-3 justify-between">
                            <p class="text-sm text-blueOne font-arvo">Durée : 1h31</p>
                            <div class="rounded-full text-sm p-1 bg-blueOne/20 font-arvo text-blueOne">Fin prévue à 21h36</div>
                        </div>
                    </div>

                    <div class="h-full flex items-center justify-between space-x-4 w-fit">
                        <div class="flex flex-col items-center justify-center space-y-1">
                            <p class="font-bold text-blueOne font-arvo text-xl  ">1 Place</p>
                            <p class="font-arvo font-bold text-xl text-blueOne/45 text-center ">4k</p>
                        </div>
                        <div class=" w-24 rounded-xl  h-full">
                            <img src="images/Films/blade-runner.png"  class="object-cover rounded-xl" alt="movie-picture">
                        </div>
                    </div>
                </div>

                <!-- theater info -->
                <div class="container flex flex-col space-y-0.5">
                    <div class="w-full flex items-center justify-between  bg-whiteOne shadow-xl rounded-xl pl-5">

                        <div class="h-full w-fit flex flex-col items-start justify-center space-y-2 py-7">
                            <p class="font-bold text-blueOne font-arvo text-2xl tracking-wide ">Cinephoria les Halles</p>
                            <div class="flex items-start justify-start">
                                <p class="text-sm tracking-wide text-blueOne font-arvo">Paris 75001</p>
                            </div>
                        </div>
    
                        <div class="h-full flex items-center justify-center space-x-3 w-fit pr-10">
                            <div class="flex bg-goldOne w-20 h-14 rounded-xl items-center justify-center">
                                <p class="text-center text-blueOne font-arvo font-bold">Salle <br> 8</p>
                            </div>
                            
                        </div>
                    </div>
                    <!-- accessibility info -->
                    <div class="w-full flex items-center justify-between  bg-whiteOne shadow-xl rounded-xl pl-5">

                        <div class="h-full w-fit flex items-center justify-between space-x-4 py-7">
                            <i class="fa-solid fa-wheelchair-move"></i>
                            <p class="text-lg tracking-wide text-blueOne font-arvo">Accessible aux PMR</p>
                        </div>
                    </div>

                 </div>
                
            </div>
        </div>
       
    </div>
</main>


<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>





<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>