<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/movie-listing.js"></script>
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
</head>
<body class=" min-h-screen relative ">
<!-- Nav Bar -->
<header class="relative z-10 ">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex text-blueOne flex-col md:flex-col items-center gap-y-7 justify-center w-[85vw]  ml-auto   md:pt-40 relative" id="main-container ">

    <!-- Movie Listing Section -->
    <section class="mt-8">
        <%- include('../../components/dashboard/movie-listing') %>
    </section>  
    
    <a href="#" id="go-to-review-form">
        <button class="w-36 h-10 font-bold tracking-wide font-arvo text-white bg-redOne mx-auto hover:scale-95 hover:bg-red-500 duration-200 ease-out" id="reviews-button" disabled>
          Noter
        </button>
      </a>

   <%- include('../../components/movie-ticket.ejs') %>
</main>


<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>





<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>