<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo-blanc.png" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1126a5f03b.js" crossorigin="anonymous"></script>
    <script defer src="/js/assign.js"></script>
</head>
<body class="min-h-screen relative">
<!-- Nav Bar -->
<header class="relative z-10">
    <%- include('../../components/dashboard/nav-bar-dashboard') %>
</header>

<!-- Cinema and Date Filters -->
<main class="flex text-blueOne w-full flex-col items-center gap-y-7 justify-center md:w-[85vw] ml-auto md:pt-40" id="main-container">
    <section class="container w-full md:w-[85vw] ml-auto flex flex-col mt-10">
        <form action="/api/v1/assign" method="post" class="flex flex-col items-center justify-center relative bg-whiteOne w-[90%] md:w-[55%] mx-auto rounded-sm px-6 py-5 space-y-5 md:py-7 md:space-y-8">
            <h1 class="text-blueOne font-arvo text-3xl tracking-wide font-bold text-center">AJOUTER</h1>
            <div class="relative w-full">
                <div class="w-full h-16 bg-white flex items-center justify-between px-7 cursor-pointer" id="select-theater">
                    <div class="cursor-pointer font-arvo text-lg font-bold text-blueOne placeholder:font-arvo placeholder:text-blueOne outline-none flex-1" id="cinema-choosen">choisir un cinema</div>
                    <input type="text" name="cinema" id="cinema-input" class="hidden" value="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="currentColor" d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0c.436.445.408 1.197 0 1.615c-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615"/></svg>
                </div>
                <div class="absolute bg-blueOne w-full h-fit py-8 px-2 left-0 z-50 -bottom-96 animate-open-menu hidden" id="theater-menu">
                    <ul class="w-full space-y-5 font-arvo font-bold text-white text-lg" id="theater-list">
                        <% if (cinemas.length !== 0) { %>
                            <% cinemas.forEach(cinema => { %>
                                <li class="list-none hover:translate-x-5 duration-200 ease-out cursor-pointer hover:text-goldOne hover:scale-105"><%= cinema.name %></li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
            </div>

            <div class="relative w-full">
                <div class="w-full h-16 bg-white flex items-center justify-between px-7 cursor-pointer" id="select-employee">
                    <div class="font-arvo cursor-pointer text-lg font-bold text-blueOne placeholder:font-arvo placeholder:text-blueOne outline-none flex-1" id="employee-choosen">choisir un employer</div>
                    <input type="text" name="firstName" id="employee-first-name" class="hidden" value="">
                    <input type="text" name="lastName" id="employee-last-name" class="hidden" value="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"><path fill="currentColor" d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0c.436.445.408 1.197 0 1.615c-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163c-.409-.418-.436-1.17 0-1.615"/></svg>
                </div>
                <div class="absolute bg-blueOne w-full h-fit py-8 px-2 left-0 z-50 -bottom-36 animate-open-menu hidden" id="employee-menu">
                    <ul class="w-full space-y-5 font-arvo font-bold text-white text-lg" id="employee-list">
                        <% if (employees.length !== 0) { %>
                            <% employees.forEach(employee => { %>
                                <li class="list-none hover:translate-x-5 duration-200 ease-out cursor-pointer hover:text-goldOne hover:scale-105">
                                    <%= employee.first_name %> <%= employee.last_name %>
                                </li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
            </div>

            <button class="mx-auto bg-redOne font-arvo text-white font-bold text-lg px-10 py-2 mt-2 flex hover:scale-95 duration-200 ease-in-out items-center justifify-center" id="open-alert-btn">ASSIGNER</button>

            <!-- hidden alert pop up -->
            <div class="absolute z-50 animate-open-menu hidden flex-col items-center justify-around bg-blueOne/75 w-[50vw] h-[100vh] rounded-lg px-10 py-48" id="alert">
                <p class="text-center font-arvo text-white font-bold text-3xl">VOULEZ-VOUS VRAIMENT ASSIGNER L'EMPLOYER DANS CE CINEMA ?</p>
                <div class="flex items-center justify-center space-x-10">
                    <button type="submit" id="submit-form" class="bg-green-500 w-36 h-14 text-white font-arvo font-bold flex items-center justify-center hover:scale-95 duration-200 hover:bg-green-400">
                        OUI
                    </button>
                    <button id="close-alert" class="bg-redOne w-36 h-14 text-white font-arvo font-bold flex items-center justify-center hover:scale-95 duration-200 hover:bg-red-500">
                        NON
                    </button>
                </div>
            </div>

        </form>
    </section>
</main>

<!-- Side Bar Menu -->
<aside class="fixed z-20 top-0 left-0 h-screen">
    <%- include('../../components/dashboard/side-menu') %>
</aside>

<!-- Footer -->
<footer class="pt-[400px]">
    <%- include('../../components/footer') %>
</footer>

</body>
</html>
