<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- latest movies carousel -->
  <div class="swiper latest-movie-slider">
    <div class="swiper-wrapper">
      
      <% if (movies.length !== 0) { %>
        <% movies.forEach(movie => { %>
          <!-- card -->
          <div class="swiper-slide flex flex-col items-center justify-center">
            <a href="/films/disponibiliter/<%= movie.movie_id %>">
              <div class="flex space-y-2 items-center justify-center flex-col w-60 pb-3">
                <div class="w-full h-fit relative group">
                  <div class="relative">
                    <img src="uploads/<%= movie.poster %>" alt="photo film" class="object-cover" />
                    <!-- movie details container -->
                    <div class="absolute inset-0 flex flex-col items-center justify-center bg-blueOne/85 p-2 px-8 space-y-4 opacity-0 group-hover:opacity-100 transition-opacity duration-200">
                      <p class="font-arvo text-white text-sm text-center text-ellipsis">
                        <%= movie.description %>
                      </p>
                    </div>
                  </div>
                  <div class="absolute top-4 right-0 bg-goldOne/85 font-arvo text-white font-bold h-6 w-fit px-2 text-nowrap">
                    <%= movie.genre %>
                  </div>
                  <div class="absolute bottom-4 left-2 rounded-full bg-blueOne/75 font-arvo flex items-center justify-center text-white font-bold  h-10 w-10 px-3 text-nowrap">
                    - <%= movie.pg %>
                   </div>
                </div>
                <h1 class="font-arvo text-blueOne text-lg font-bold tracking-wide">
                  <%= movie.title %>
                </h1>
                <p class="font-arvo text-blueOne font-thin text-sm tracking-wide">
                  Depuis le <%= new Date(movie.release_date).toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) %>
                </p>
              </div>
            </a>
          </div>
        <% }) %>
      <% } else { %>
        <div class="w-full flex items-center justify-center">
          <p class="font-arvo text-blueOne font-bold text-3xl">Aucune Scéance ajouté</p>
        </div>
      <% } %>
      
    </div>
  </div>
</body>
</html>